%h1= t("Listing tasks")

%table.table.table-striped
  %thead
    %tr
      %th= t("Project")
      %th= t("Title")
      %th= t("Description")
      %th= t("Priority")
      %th= t("Status")
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.project
        %td= task.title
        %td= task.description
        %td= task.priority
        %td= task.status
        %td
          = link_to(task) do
            %i.fa.fa-list
            =t :show
          = link_to(edit_task_path(task)) do
            %i.fa.fa-pencil
            =t :edit
          = link_to(task, :method => :delete, :data => { :confirm => t(:delete_confirm) }) do
            %i.fa.fa-trash
            =t :destroy
%br

= link_to t(:new), new_task_path, class: 'btn btn-primary'
