- if notice
  .alert.alert-success.alert-dismissible{role: "alert"}
    %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"} &times;
    %strong= notice

%h1= @task.title
%p= @task.description
%p
  %b= t("Project") + ":"
  = @task.project
%p
  %b= t("Priority") + ":"
  = priority(@task)
%p
  %b= t("Status") + ":"
  = status(@task)

= link_to(edit_task_path(@task), class: 'btn btn-primary') do
  %i.fa.fa-pencil
  =t :edit
= link_to(tasks_path, class: 'btn btn-default') do
  %i.fa.fa-chevron-left
  =t :back
