= form_for @project, class: 'form' do |f|
  - if @project.errors.any?
    .alert.alert-danger.alert-dismissible{role: "alert"}
      %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
        %span{"aria-hidden" => "true"} &times;
      %strong= "#{pluralize(@project.errors.count, "erro")} #{t("prohibited this project from being saved")}:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :is_public
    = f.check_box :is_public, class: 'form-control'
  .form-group
    = f.submit t(:save), class: 'btn btn-primary'
